@import "./materialize/materialize";

//----Ujwal start------
.whiteDrop{
  color: white;
  text-shadow: 2px 2px rgba(0,0,0,0.3)
}
sign-in input,new-account input{
  color:white;
}
body{
  /*background-image: url('/images/calendar.jpg');*/
  /*background-size: cover;*/
  /*background-repeat:no-repeat;*/
  background-color: #404550;
  /*background-blend-mode: multiply;*/
}

//----Ujwal end------

#header{
  height:50px;
  width:100%;
  background-image: linear-gradient(-180deg, #F8F8F8 0%, #EEEEEE 100%);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}

#sidebar{
  width:50px;
  height:100%;
  position: absolute;
  left:0px;
  top:0px;
  z-index: -1;
  padding-top:50px;
  background-image: linear-gradient(-180deg, #555555 0%, #000000 100%);
}

#sidebar ul li{
  padding-left: 10px;
  height: 44px;
}

#sidebar ul li:hover{
  background: #404040;
}

.logo{
  width:28px;
  height:28px;
}

#sidebar ul li .logo{
  padding-top:10px;
}

#dashboard-content{
  position: absolute;
  z-index: -100;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  padding-top:50px;
  padding-left:50px;
  background: #fafafa;
  overflow-y: scroll;
}

.active-section{
  border-left: 5px solid;
  border-color: #EC3673;
}

#hour-bar{
  position: relative;
  width:100px;
  background:#F1F1F1;
  display: inline-block;
  float: left;
}

.hour-marking{
  position:absolute;
  right:0px;

}

.marking-text{
  margin-right: 20px;
  display: inline;
}

.marking-line{
  //border-right:2px solid black;
  display: inline;
}

.participant-column{
  position: relative;
  //margin-top:-50px;
  border-right:3px solid #F1F1F1;
  width:300px;
  display: inline-block;
  text-align: center;
}

.task-block{
  position: absolute;
  width:250px;
  left:25px;
  background: #471D46;
  color:white;
  text-align: center;
  overflow: hidden;
}

.task-block h4{
  font-size:1.5em;
}

.task-block h6{
  color: #f3f3f3;
}