<div id="hour-bar" [style.height]="offset+eventPlan.duration*fixedStep+'px'">

    <div
            *ngFor="let hour of hours"
            class="hour-marking" [style.top]="offset+hour*fixedStep+'px'">
        <div class="marking-text">
            {{ hour| timeFromHourNo:9}}
        </div>
        <div class="marking-line">-</div><!--TODO replace with an svg-->
    </div>

</div>


<div
        *ngFor="let participant of project.participants"
        (mousemove)="handleDrag($event)"
        (mouseup)="handleUp($event)"
        (dblclick)="createTaskBlock()"
        class="participant-column" [style.height]="offset+eventPlan.duration*fixedStep+'px'">
{{participant.name}}
    <div
            *ngFor="let task of participant.tasks"
            class="task-block"

            [style.top]="offset+task.start*fixedStep+'px'"
            [style.height]="(task.end-task.start)*fixedStep+'px'">
        <div class="task-handle"
             (mousedown)="handleDown($event,true,task,participant)">

        </div>
        <h4 (click)="doShowTaskList(task)">{{task.name}}</h4>
        <h6>{{task.completed}}/{{task.taskList.length}} completed</h6>
        <div class="task-handle stuck-to-bottom"
             (mousedown)="handleDown($event,false,task,participant)">

        </div>
    </div>

</div>

<task-list
        (closeTaskList)="showTaskList=false"
        [style.display]="showTaskList?'block':'none'"></task-list>