<h1>Sign in</h1>
<div class="row">
    <div class="col s12 m8 l4">

    </div>
    <div class="input-field col s6 m3">
          <input placeholder="Placeholder" id="username" type="text" class="validate">
        <label for="username">First Name</label>
    </div>
    <div class="input-field col s12 m3">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
    </div>
    <a routerLink='/dashboard' class="waves-effect waves-light btn">Login</a>
    <a routerLink='/signUp' class="waves-effect waves-light btn">Create Account</a>
</div>