<div class="col s4 offset-s4">
    <alert></alert>
    <h1 class="whiteDrop">HackPlan</h1>
    <div>
        <form [formGroup]="signinForm">
            <div class="row">
                <div class="input-field col s12">
                    <input formControlName="username" placeholder="Enter Username Here.." id="username" type="text" class="validate">
                    <label class="active" for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input formControlName="password" placeholder="Enter Password Here.." id="password" type="password" class="validate">
                    <label class="active" for="password">Password</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <button (click)="login()" class="btn waves-effect waves-light">Submit</button>
                </div>
                <div class="input-field col s6">
                    <button (click)="goToSignUp()" class="btn waves-effect waves-light">Create Account</button>
                </div>
            </div>
        </form>
    </div>
</div>
